<h1>Editing Men Clothes Category</h1>

<%= render 'form', men_clothes_category: @men_clothes_category %>

<%= link_to 'Show', @men_clothes_category %> |
<%= link_to 'Back', men_clothes_categories_path %>
