<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @men_clothes_category.name %>
</p>

<%= link_to 'Edit', edit_men_clothes_category_path(@men_clothes_category) %> |
<%= link_to 'Back', men_clothes_categories_path %>
