<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @men_shop_collection_category.name %>
</p>

<%= link_to 'Edit', edit_men_shop_collection_category_path(@men_shop_collection_category) %> |
<%= link_to 'Back', men_shop_collection_categories_path %>
