<h1>Editing Men Accessories Category</h1>

<%= render 'form', men_accessories_category: @men_accessories_category %>

<%= link_to 'Show', @men_accessories_category %> |
<%= link_to 'Back', men_accessories_categories_path %>
