<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @men_accessories_category.name %>
</p>

<%= link_to 'Edit', edit_men_accessories_category_path(@men_accessories_category) %> |
<%= link_to 'Back', men_accessories_categories_path %>
